{% extends 'base.html.twig' %}

{% block body%}

<div class="container">
  <div class="jumbotron row-offset-3">
    <form class="form-horizontal" action="new" method="post">
    <fieldset>

    <!-- Form Name -->
    <legend>Import fichier stage (xslx)</legend>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="annee">Année scolaire</label>
      <div class="col-md-4">
        <select id="annee" name="annee" class="form-control">
          <option value="2015">2015</option>
          <option value="2016">2016</option>
          <option value="2017">2017</option>
        </select>
      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="promo">Promotion</label>
      <div class="col-md-4">
        <select id="promo" name="promo" class="form-control">
          <option value="L3">L3</option>
          <option value="M1">M1</option>
          <option value="M2">M2</option>
        </select>
      </div>
    </div>

    <!-- File Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="fichier">Fichier</label>
      <div class="col-md-4">
        <input id="fichier" name="fichier" class="input-file" type="file">
      </div>
    </div>
    <!-- Button -->

        <button type="submit" id="import" name="import" class="btn btn-primary col-lg-offset-3 col-lg-6">Importer</button>

    </fieldset>
    </form>
  </div>
</div>

{% endblock %}
