<!DOCTYPE html>
<html>

 <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<img src="http://cdn3.wpbeginner.com/wp-content/uploads/2016/03/403forbiddenerror.jpg" class="img-responsive center-block" />


<div class="container">

  <h2 class=text-center>You don't have access to this content please login !</h2>
  <h1 class=text-center> <a href="/login">Login</a> </h1>
 </div> 


</html>


