<!DOCTYPE html>
<html>
    <head>
        <title>Creation de compte</title>
    </head>
    <body>
        <p> {{prenom}} , votre compte a été crée, pour des raisons de sécurité votre compte doit être approuvé par des administrateurs !</p>

        <p>Ceci est un mail automatique merci de ne pas répondre !</p>
    </body>
</html>